*{
  padding: 0;
  margin: 0;
}
#next {
  background-color: #bcbc71;
}
.header {
  text-align: center;
}

#side {
  margin: 4rem;
  align-self: center;
}
.htum-p{
  margin-bottom: 1rem;
}