#top-page {
  height: 100vh;
  /* background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */

    
  background: linear-gradient(170deg, #d500f9, #bcbc71);
  /* background-color: #bcbc71; */
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
