/* Removes padding and margin from all elements and creates seamless pages in index */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}


object {
  width: 100%;
  min-height: fit-content;
  min-height: 100vh;
}

iframe {
  margin: -3px;
  height: 100vh;
  filter: blur(2);
}

#chatbot-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
