.navbar {
  background-color: lightgray;

}
.nav-item-box {
  padding: 2rem;
  display: inline-block;
  transition: .3s;
}
.nav-item-box:hover {
  background-color: #8aa094;
}
.nav-item {
  color: black;
  text-decoration: none;
}