<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="nav.css">
</head>
<nav>
  <h1 class = "web-title">Smart Cycle</h1>
    <div class = navbar>
      <div class="nav-item-box"><a class="nav-item" href="../index.html">Home</a></div>
      <div class="nav-item-box"><a class="nav-item" href="../pages/au-index.html">About Us</a></div>
      <div class="nav-item-box"><a class="nav-item" href="../pages/goal-index.html">Our Goal</a></div>
      <div class="nav-item-box"><a class="nav-item" href="../pages/resources-index.html">Resources</a></div>

    </div>
</nav>
</html>